BuildUpCSharpClient/BuildUp/Connected Services/MaqWS/MaquinariaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarMaquinaria" type="tns:actualizarMaquinaria" />
  <xs:element name="actualizarMaquinariaResponse" type="tns:actualizarMaquinariaResponse" />
  <xs:element name="eliminarMaquinaria" type="tns:eliminarMaquinaria" />
  <xs:element name="eliminarMaquinariaResponse" type="tns:eliminarMaquinariaResponse" />
  <xs:element name="insertarMaquinaria" type="tns:insertarMaquinaria" />
  <xs:element name="insertarMaquinariaResponse" type="tns:insertarMaquinariaResponse" />
  <xs:element name="listarMaquinaria" type="tns:listarMaquinaria" />
  <xs:element name="listarMaquinariaResponse" type="tns:listarMaquinariaResponse" />
  <xs:complexType name="listarMaquinaria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:maquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="maquinaria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="garantiaFin" type="xs:dateTime" />
      <xs:element name="idMaquinaria" type="xs:int" />
      <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="representante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaquinaria">
    <xs:sequence>
      <xs:element name="idMaquinaria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMaquinaria">
    <xs:sequence>
      <xs:element name="maquinaria" type="xs:int" />
      <xs:element name="state" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="maquinaria" type="tns:maquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>