BuildUpCSharpClient/BuildUp/Connected Services/TipoLadrilloWS/TipoLadrilloWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarTipoLadrillo" type="tns:eliminarTipoLadrillo" />
  <xs:element name="eliminarTipoLadrilloResponse" type="tns:eliminarTipoLadrilloResponse" />
  <xs:element name="insertarTipoLadrillo" type="tns:insertarTipoLadrillo" />
  <xs:element name="insertarTipoLadrilloResponse" type="tns:insertarTipoLadrilloResponse" />
  <xs:element name="listarTiposLadrillo" type="tns:listarTiposLadrillo" />
  <xs:element name="listarTiposLadrilloResponse" type="tns:listarTiposLadrilloResponse" />
  <xs:complexType name="listarTiposLadrillo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTiposLadrilloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoLadrillo">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoLadrilloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoLadrillo">
    <xs:sequence>
      <xs:element name="idTipoLadrillo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoLadrilloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>