BuildUpCSharpClient/BuildUp/Connected Services/TipoLadrilloWS/TipoLadrilloWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.buildup.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TipoLadrilloWS" targetNamespace="http://services.buildup.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.207.108.70:8080/BuildUpServices/TipoLadrilloWS?xsd=1" namespace="http://services.buildup.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarTipoLadrillo">
    <part name="parameters" element="tns:insertarTipoLadrillo" />
  </message>
  <message name="insertarTipoLadrilloResponse">
    <part name="parameters" element="tns:insertarTipoLadrilloResponse" />
  </message>
  <message name="listarTiposLadrillo">
    <part name="parameters" element="tns:listarTiposLadrillo" />
  </message>
  <message name="listarTiposLadrilloResponse">
    <part name="parameters" element="tns:listarTiposLadrilloResponse" />
  </message>
  <message name="eliminarTipoLadrillo">
    <part name="parameters" element="tns:eliminarTipoLadrillo" />
  </message>
  <message name="eliminarTipoLadrilloResponse">
    <part name="parameters" element="tns:eliminarTipoLadrilloResponse" />
  </message>
  <message name="listarTipoLadrilloPorNombre">
    <part name="parameters" element="tns:listarTipoLadrilloPorNombre" />
  </message>
  <message name="listarTipoLadrilloPorNombreResponse">
    <part name="parameters" element="tns:listarTipoLadrilloPorNombreResponse" />
  </message>
  <message name="actualizarTipoLadrillo">
    <part name="parameters" element="tns:actualizarTipoLadrillo" />
  </message>
  <message name="actualizarTipoLadrilloResponse">
    <part name="parameters" element="tns:actualizarTipoLadrilloResponse" />
  </message>
  <portType name="TipoLadrilloWS">
    <operation name="insertarTipoLadrillo">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/insertarTipoLadrilloRequest" message="tns:insertarTipoLadrillo" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/insertarTipoLadrilloResponse" message="tns:insertarTipoLadrilloResponse" />
    </operation>
    <operation name="listarTiposLadrillo">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/listarTiposLadrilloRequest" message="tns:listarTiposLadrillo" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/listarTiposLadrilloResponse" message="tns:listarTiposLadrilloResponse" />
    </operation>
    <operation name="eliminarTipoLadrillo">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/eliminarTipoLadrilloRequest" message="tns:eliminarTipoLadrillo" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/eliminarTipoLadrilloResponse" message="tns:eliminarTipoLadrilloResponse" />
    </operation>
    <operation name="listarTipoLadrilloPorNombre">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/listarTipoLadrilloPorNombreRequest" message="tns:listarTipoLadrilloPorNombre" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/listarTipoLadrilloPorNombreResponse" message="tns:listarTipoLadrilloPorNombreResponse" />
    </operation>
    <operation name="actualizarTipoLadrillo">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/actualizarTipoLadrilloRequest" message="tns:actualizarTipoLadrillo" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/TipoLadrilloWS/actualizarTipoLadrilloResponse" message="tns:actualizarTipoLadrilloResponse" />
    </operation>
  </portType>
  <binding name="TipoLadrilloWSPortBinding" type="tns:TipoLadrilloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarTipoLadrillo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTiposLadrillo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTipoLadrillo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTipoLadrilloPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarTipoLadrillo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TipoLadrilloWS">
    <port name="TipoLadrilloWSPort" binding="tns:TipoLadrilloWSPortBinding">
      <soap:address location="http://52.207.108.70:8080/BuildUpServices/TipoLadrilloWS" />
    </port>
  </service>
</definitions>