BuildUpCSharpClient/BuildUp/Connected Services/OperarioWS/OperarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEstadoOperario" type="tns:actualizarEstadoOperario" />
  <xs:element name="actualizarEstadoOperarioResponse" type="tns:actualizarEstadoOperarioResponse" />
  <xs:element name="eliminarOperario" type="tns:eliminarOperario" />
  <xs:element name="eliminarOperarioResponse" type="tns:eliminarOperarioResponse" />
  <xs:element name="insertarOperario" type="tns:insertarOperario" />
  <xs:element name="insertarOperarioResponse" type="tns:insertarOperarioResponse" />
  <xs:element name="listarOperario" type="tns:listarOperario" />
  <xs:element name="listarOperarioResponse" type="tns:listarOperarioResponse" />
  <xs:element name="modificarOperario" type="tns:modificarOperario" />
  <xs:element name="modificarOperarioResponse" type="tns:modificarOperarioResponse" />
  <xs:element name="obtenerLineaProduccionOperario" type="tns:obtenerLineaProduccionOperario" />
  <xs:element name="obtenerLineaProduccionOperarioResponse" type="tns:obtenerLineaProduccionOperarioResponse" />
  <xs:complexType name="eliminarOperario">
    <xs:sequence>
      <xs:element name="idOperario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOperarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEstadoOperario">
    <xs:sequence>
      <xs:element name="idOp" type="xs:int" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEstadoOperarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOperario">
    <xs:sequence>
      <xs:element minOccurs="0" name="operario" type="tns:operario" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOperarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLineaProduccionOperario">
    <xs:sequence>
      <xs:element name="idOperario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLineaProduccionOperarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOperario">
    <xs:sequence>
      <xs:element minOccurs="0" name="operario" type="tns:operario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOperarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOperario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOperarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:operario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>