BuildUpCSharpClient/BuildUp/Connected Services/SupervisorWS/SupervisorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarSupervisor" type="tns:actualizarSupervisor" />
  <xs:element name="actualizarSupervisorResponse" type="tns:actualizarSupervisorResponse" />
  <xs:element name="eliminarSupervisor" type="tns:eliminarSupervisor" />
  <xs:element name="eliminarSupervisorResponse" type="tns:eliminarSupervisorResponse" />
  <xs:element name="insertarSupervisor" type="tns:insertarSupervisor" />
  <xs:element name="insertarSupervisorResponse" type="tns:insertarSupervisorResponse" />
  <xs:element name="listarSupervisor" type="tns:listarSupervisor" />
  <xs:element name="listarSupervisorResponse" type="tns:listarSupervisorResponse" />
  <xs:complexType name="listarSupervisor">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSupervisorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSupervisor">
    <xs:sequence>
      <xs:element name="idSupervisor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>