BuildUpCSharpClient/BuildUp/Connected Services/ProblemaWS/ProblemaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarProblema" type="tns:actualizarProblema" />
  <xs:element name="actualizarProblemaResponse" type="tns:actualizarProblemaResponse" />
  <xs:element name="eliminarProblema" type="tns:eliminarProblema" />
  <xs:element name="eliminarProblemaResponse" type="tns:eliminarProblemaResponse" />
  <xs:element name="insertarProblema" type="tns:insertarProblema" />
  <xs:element name="insertarProblemaResponse" type="tns:insertarProblemaResponse" />
  <xs:element name="listarProblema" type="tns:listarProblema" />
  <xs:element name="listarProblemaResponse" type="tns:listarProblemaResponse" />
  <xs:complexType name="eliminarProblema">
    <xs:sequence>
      <xs:element name="idProblema" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProblemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProblema">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProblemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:problema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="problema">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProblema" type="xs:int" />
      <xs:element name="nivelImportancia" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProblema">
    <xs:sequence>
      <xs:element minOccurs="0" name="problema" type="tns:problema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProblemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProblema">
    <xs:sequence>
      <xs:element minOccurs="0" name="problema" type="tns:problema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProblemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>