BuildUpCSharpClient/BuildUp/Connected Services/ReporteOrdenesWS/ReporteOrdenes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteOrdenes" type="tns:generarReporteOrdenes" />
  <xs:element name="generarReporteOrdenesResponse" type="tns:generarReporteOrdenesResponse" />
  <xs:complexType name="generarReporteOrdenes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="generarReporteOrdenesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>