BuildUpCSharpClient/BuildUp/Connected Services/IncidenteMaquinariaWS/IncidenteMaquinariaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarIncidenteMaquinaria" type="tns:eliminarIncidenteMaquinaria" />
  <xs:element name="eliminarIncidenteMaquinariaResponse" type="tns:eliminarIncidenteMaquinariaResponse" />
  <xs:element name="insertarIncidenteMaquinaria" type="tns:insertarIncidenteMaquinaria" />
  <xs:element name="insertarIncidenteMaquinariaResponse" type="tns:insertarIncidenteMaquinariaResponse" />
  <xs:element name="insertarProblemaIncidenteMaquinaria" type="tns:insertarProblemaIncidenteMaquinaria" />
  <xs:element name="insertarProblemaIncidenteMaquinariaResponse" type="tns:insertarProblemaIncidenteMaquinariaResponse" />
  <xs:element name="insertarRespuestaIncidenteMaquinaria" type="tns:insertarRespuestaIncidenteMaquinaria" />
  <xs:element name="insertarRespuestaIncidenteMaquinariaResponse" type="tns:insertarRespuestaIncidenteMaquinariaResponse" />
  <xs:element name="listarIncidenteMaquinaria" type="tns:listarIncidenteMaquinaria" />
  <xs:element name="listarIncidenteMaquinariaResponse" type="tns:listarIncidenteMaquinariaResponse" />
  <xs:element name="listarPorRangoFechaIncidenteMaquinaria" type="tns:listarPorRangoFechaIncidenteMaquinaria" />
  <xs:element name="listarPorRangoFechaIncidenteMaquinariaResponse" type="tns:listarPorRangoFechaIncidenteMaquinariaResponse" />
  <xs:element name="modificarPorIngenieroIncidenteMaquinaria" type="tns:modificarPorIngenieroIncidenteMaquinaria" />
  <xs:element name="modificarPorIngenieroIncidenteMaquinariaResponse" type="tns:modificarPorIngenieroIncidenteMaquinariaResponse" />
  <xs:element name="modificarPorSupervisorIncidenteMaquinaria" type="tns:modificarPorSupervisorIncidenteMaquinaria" />
  <xs:element name="modificarPorSupervisorIncidenteMaquinariaResponse" type="tns:modificarPorSupervisorIncidenteMaquinariaResponse" />
  <xs:element name="obtenerIngenieroIncidenteMaquinaria" type="tns:obtenerIngenieroIncidenteMaquinaria" />
  <xs:element name="obtenerIngenieroIncidenteMaquinariaResponse" type="tns:obtenerIngenieroIncidenteMaquinariaResponse" />
  <xs:element name="obtenerRespuestaIncidenteMaquinaria" type="tns:obtenerRespuestaIncidenteMaquinaria" />
  <xs:element name="obtenerRespuestaIncidenteMaquinariaResponse" type="tns:obtenerRespuestaIncidenteMaquinariaResponse" />
  <xs:complexType name="eliminarIncidenteMaquinaria">
    <xs:sequence>
      <xs:element name="idIncidenteMaquinaria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorRangoFechaIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaIncio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorRangoFechaIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="incidenteMaquinaria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="detalle" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaAtencion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaIncidente" type="xs:dateTime" />
      <xs:element name="idIncidente" type="xs:int" />
      <xs:element minOccurs="0" name="ingeniero" type="tns:ingeniero" />
      <xs:element minOccurs="0" name="maquinaria" type="tns:maquinaria" />
      <xs:element minOccurs="0" name="problema" type="tns:problema" />
      <xs:element minOccurs="0" name="respuesta" type="tns:respuesta" />
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingeniero">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="maquinaria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="garantiaFin" type="xs:dateTime" />
      <xs:element name="idMaquinaria" type="xs:int" />
      <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="representante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="problema">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProblema" type="xs:int" />
      <xs:element name="nivelImportancia" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuesta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIncidenteMaquinaria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProblemaIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidenteMaquinaria" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProblemaIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidenteMaquinaria" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIngenieroIncidenteMaquinaria">
    <xs:sequence>
      <xs:element name="idIncidenteMaquinaria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIngenieroIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ingeniero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPorSupervisorIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidenteMaquinaria" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPorSupervisorIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRespuestaIncidenteMaquinaria">
    <xs:sequence>
      <xs:element name="idIncidenteMaquinaria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRespuestaIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRespuestaIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidenteMaquinaria" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRespuestaIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPorIngenieroIncidenteMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidenteMaquinaria" type="tns:incidenteMaquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPorIngenieroIncidenteMaquinariaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>