BuildUpCSharpClient/BuildUp/Connected Services/IncidenteMaquinariaWS/IncidenteMaquinaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.buildup.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="IncidenteMaquinaria" targetNamespace="http://services.buildup.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.207.108.70:8080/BuildUpServices/IncidenteMaquinaria?xsd=1" namespace="http://services.buildup.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarIncidenteMaquinaria">
    <part name="parameters" element="tns:actualizarIncidenteMaquinaria" />
  </message>
  <message name="actualizarIncidenteMaquinariaResponse">
    <part name="parameters" element="tns:actualizarIncidenteMaquinariaResponse" />
  </message>
  <message name="insertarIncidenteMaquinaria">
    <part name="parameters" element="tns:insertarIncidenteMaquinaria" />
  </message>
  <message name="insertarIncidenteMaquinariaResponse">
    <part name="parameters" element="tns:insertarIncidenteMaquinariaResponse" />
  </message>
  <message name="listarIncidenteMaquinaria">
    <part name="parameters" element="tns:listarIncidenteMaquinaria" />
  </message>
  <message name="listarIncidenteMaquinariaResponse">
    <part name="parameters" element="tns:listarIncidenteMaquinariaResponse" />
  </message>
  <message name="eliminarIncidenteMaquinaria">
    <part name="parameters" element="tns:eliminarIncidenteMaquinaria" />
  </message>
  <message name="eliminarIncidenteMaquinariaResponse">
    <part name="parameters" element="tns:eliminarIncidenteMaquinariaResponse" />
  </message>
  <portType name="IncidenteMaquinariaWS">
    <operation name="actualizarIncidenteMaquinaria">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/actualizarIncidenteMaquinariaRequest" message="tns:actualizarIncidenteMaquinaria" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/actualizarIncidenteMaquinariaResponse" message="tns:actualizarIncidenteMaquinariaResponse" />
    </operation>
    <operation name="insertarIncidenteMaquinaria">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/insertarIncidenteMaquinariaRequest" message="tns:insertarIncidenteMaquinaria" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/insertarIncidenteMaquinariaResponse" message="tns:insertarIncidenteMaquinariaResponse" />
    </operation>
    <operation name="listarIncidenteMaquinaria">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/listarIncidenteMaquinariaRequest" message="tns:listarIncidenteMaquinaria" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/listarIncidenteMaquinariaResponse" message="tns:listarIncidenteMaquinariaResponse" />
    </operation>
    <operation name="eliminarIncidenteMaquinaria">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/eliminarIncidenteMaquinariaRequest" message="tns:eliminarIncidenteMaquinaria" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/IncidenteMaquinariaWS/eliminarIncidenteMaquinariaResponse" message="tns:eliminarIncidenteMaquinariaResponse" />
    </operation>
  </portType>
  <binding name="IncidenteMaquinariaWSPortBinding" type="tns:IncidenteMaquinariaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarIncidenteMaquinaria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarIncidenteMaquinaria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIncidenteMaquinaria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarIncidenteMaquinaria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="IncidenteMaquinaria">
    <port name="IncidenteMaquinariaWSPort" binding="tns:IncidenteMaquinariaWSPortBinding">
      <soap:address location="http://52.207.108.70:8080/BuildUpServices/IncidenteMaquinaria" />
    </port>
  </service>
</definitions>