BuildUpCSharpClient/BuildUp/Connected Services/PersonaWS/PersonaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.buildup.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PersonaWS" targetNamespace="http://services.buildup.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.207.108.70:8080/BuildUpServices/PersonaWS?xsd=1" namespace="http://services.buildup.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarPersona">
    <part name="parameters" element="tns:actualizarPersona" />
  </message>
  <message name="actualizarPersonaResponse">
    <part name="parameters" element="tns:actualizarPersonaResponse" />
  </message>
  <message name="listarPersona">
    <part name="parameters" element="tns:listarPersona" />
  </message>
  <message name="listarPersonaResponse">
    <part name="parameters" element="tns:listarPersonaResponse" />
  </message>
  <message name="eliminarPersona">
    <part name="parameters" element="tns:eliminarPersona" />
  </message>
  <message name="eliminarPersonaResponse">
    <part name="parameters" element="tns:eliminarPersonaResponse" />
  </message>
  <message name="insertarPersona">
    <part name="parameters" element="tns:insertarPersona" />
  </message>
  <message name="insertarPersonaResponse">
    <part name="parameters" element="tns:insertarPersonaResponse" />
  </message>
  <portType name="PersonaWS">
    <operation name="actualizarPersona">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/actualizarPersonaRequest" message="tns:actualizarPersona" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/actualizarPersonaResponse" message="tns:actualizarPersonaResponse" />
    </operation>
    <operation name="listarPersona">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/listarPersonaRequest" message="tns:listarPersona" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/listarPersonaResponse" message="tns:listarPersonaResponse" />
    </operation>
    <operation name="eliminarPersona">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/eliminarPersonaRequest" message="tns:eliminarPersona" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/eliminarPersonaResponse" message="tns:eliminarPersonaResponse" />
    </operation>
    <operation name="insertarPersona">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/insertarPersonaRequest" message="tns:insertarPersona" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/PersonaWS/insertarPersonaResponse" message="tns:insertarPersonaResponse" />
    </operation>
  </portType>
  <binding name="PersonaWSPortBinding" type="tns:PersonaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersona">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonaWS">
    <port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
      <soap:address location="http://52.207.108.70:8080/BuildUpServices/PersonaWS" />
    </port>
  </service>
</definitions>