BuildUpCSharpClient/BuildUp/Connected Services/MermaWS/MermaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarMerma" type="tns:actualizarMerma" />
  <xs:element name="actualizarMermaResponse" type="tns:actualizarMermaResponse" />
  <xs:element name="eliminarMerma" type="tns:eliminarMerma" />
  <xs:element name="eliminarMermaResponse" type="tns:eliminarMermaResponse" />
  <xs:element name="insertarMerma" type="tns:insertarMerma" />
  <xs:element name="insertarMermaResponse" type="tns:insertarMermaResponse" />
  <xs:element name="listarMerma" type="tns:listarMerma" />
  <xs:element name="listarMermaResponse" type="tns:listarMermaResponse" />
  <xs:element name="listarPorTipoMerma" type="tns:listarPorTipoMerma" />
  <xs:element name="listarPorTipoMermaResponse" type="tns:listarPorTipoMermaResponse" />
  <xs:complexType name="eliminarMerma">
    <xs:sequence>
      <xs:element name="idMerma" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMermaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMerma">
    <xs:sequence>
      <xs:element minOccurs="0" name="merma" type="tns:merma" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="merma">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idMerma" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMermaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMerma">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMermaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:merma" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMerma">
    <xs:sequence>
      <xs:element minOccurs="0" name="merma" type="tns:merma" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMermaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorTipoMerma">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorTipoMermaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:merma" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>