BuildUpCSharpClient/BuildUp/Connected Services/OrdenInsumosWS/OrdenInsumosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aceptarOrdenInsumos" type="tns:aceptarOrdenInsumos" />
  <xs:element name="aceptarOrdenInsumosResponse" type="tns:aceptarOrdenInsumosResponse" />
  <xs:element name="eliminarOrdenInsumos" type="tns:eliminarOrdenInsumos" />
  <xs:element name="eliminarOrdenInsumosResponse" type="tns:eliminarOrdenInsumosResponse" />
  <xs:element name="insertarOrdenInsumos" type="tns:insertarOrdenInsumos" />
  <xs:element name="insertarOrdenInsumosResponse" type="tns:insertarOrdenInsumosResponse" />
  <xs:element name="listarOrdenInsumos" type="tns:listarOrdenInsumos" />
  <xs:element name="listarOrdenInsumosPorRangoFecha" type="tns:listarOrdenInsumosPorRangoFecha" />
  <xs:element name="listarOrdenInsumosPorRangoFechaResponse" type="tns:listarOrdenInsumosPorRangoFechaResponse" />
  <xs:element name="listarOrdenInsumosResponse" type="tns:listarOrdenInsumosResponse" />
  <xs:element name="modificarOrdenInsumos" type="tns:modificarOrdenInsumos" />
  <xs:element name="modificarOrdenInsumosResponse" type="tns:modificarOrdenInsumosResponse" />
  <xs:element name="rechazarOrdenInsumos" type="tns:rechazarOrdenInsumos" />
  <xs:element name="rechazarOrdenInsumosResponse" type="tns:rechazarOrdenInsumosResponse" />
  <xs:complexType name="aceptarOrdenInsumos">
    <xs:sequence>
      <xs:element name="idOrdenInsumos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aceptarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenInsumos">
    <xs:sequence>
      <xs:element name="idOrdenInsumos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenInsumos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenInsumo" type="tns:ordenInsumos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenInsumos">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idOrdenInsumos" type="xs:int" />
      <xs:element minOccurs="0" name="insumo" type="tns:insumo" />
      <xs:element minOccurs="0" name="operario" type="tns:operario" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insumo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idInsumo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenInsumosPorRangoFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenInsumosPorRangoFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenInsumos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechazarOrdenInsumos">
    <xs:sequence>
      <xs:element name="idOrdenInsumos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechazarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenInsumos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenInsumos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOrdenInsumos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenInsumo" type="tns:ordenInsumos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOrdenInsumosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>