BuildUpCSharpClient/BuildUp/Connected Services/OrdenInsumosWS/OrdenInsumosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.buildup.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OrdenInsumosWS" targetNamespace="http://services.buildup.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.207.108.70:8080/BuildUpServices/OrdenInsumosWS?xsd=1" namespace="http://services.buildup.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarOrdenInsumos">
    <part name="parameters" element="tns:listarOrdenInsumos" />
  </message>
  <message name="listarOrdenInsumosResponse">
    <part name="parameters" element="tns:listarOrdenInsumosResponse" />
  </message>
  <message name="insertarOrdenInsumos">
    <part name="parameters" element="tns:insertarOrdenInsumos" />
  </message>
  <message name="insertarOrdenInsumosResponse">
    <part name="parameters" element="tns:insertarOrdenInsumosResponse" />
  </message>
  <message name="eliminarOrdenInsumos">
    <part name="parameters" element="tns:eliminarOrdenInsumos" />
  </message>
  <message name="eliminarOrdenInsumosResponse">
    <part name="parameters" element="tns:eliminarOrdenInsumosResponse" />
  </message>
  <message name="listarOrdenInsumosPorRangoFecha">
    <part name="parameters" element="tns:listarOrdenInsumosPorRangoFecha" />
  </message>
  <message name="listarOrdenInsumosPorRangoFechaResponse">
    <part name="parameters" element="tns:listarOrdenInsumosPorRangoFechaResponse" />
  </message>
  <message name="modificarOrdenInsumos">
    <part name="parameters" element="tns:modificarOrdenInsumos" />
  </message>
  <message name="modificarOrdenInsumosResponse">
    <part name="parameters" element="tns:modificarOrdenInsumosResponse" />
  </message>
  <message name="aceptarOrdenInsumos">
    <part name="parameters" element="tns:aceptarOrdenInsumos" />
  </message>
  <message name="aceptarOrdenInsumosResponse">
    <part name="parameters" element="tns:aceptarOrdenInsumosResponse" />
  </message>
  <portType name="OrdenInsumosWS">
    <operation name="listarOrdenInsumos">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/listarOrdenInsumosRequest" message="tns:listarOrdenInsumos" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/listarOrdenInsumosResponse" message="tns:listarOrdenInsumosResponse" />
    </operation>
    <operation name="insertarOrdenInsumos">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/insertarOrdenInsumosRequest" message="tns:insertarOrdenInsumos" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/insertarOrdenInsumosResponse" message="tns:insertarOrdenInsumosResponse" />
    </operation>
    <operation name="eliminarOrdenInsumos">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/eliminarOrdenInsumosRequest" message="tns:eliminarOrdenInsumos" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/eliminarOrdenInsumosResponse" message="tns:eliminarOrdenInsumosResponse" />
    </operation>
    <operation name="listarOrdenInsumosPorRangoFecha">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/listarOrdenInsumosPorRangoFechaRequest" message="tns:listarOrdenInsumosPorRangoFecha" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/listarOrdenInsumosPorRangoFechaResponse" message="tns:listarOrdenInsumosPorRangoFechaResponse" />
    </operation>
    <operation name="modificarOrdenInsumos">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/modificarOrdenInsumosRequest" message="tns:modificarOrdenInsumos" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/modificarOrdenInsumosResponse" message="tns:modificarOrdenInsumosResponse" />
    </operation>
    <operation name="aceptarOrdenInsumos">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/aceptarOrdenInsumosRequest" message="tns:aceptarOrdenInsumos" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/OrdenInsumosWS/aceptarOrdenInsumosResponse" message="tns:aceptarOrdenInsumosResponse" />
    </operation>
  </portType>
  <binding name="OrdenInsumosWSPortBinding" type="tns:OrdenInsumosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarOrdenInsumos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarOrdenInsumos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenInsumos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenInsumosPorRangoFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOrdenInsumos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="aceptarOrdenInsumos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenInsumosWS">
    <port name="OrdenInsumosWSPort" binding="tns:OrdenInsumosWSPortBinding">
      <soap:address location="http://52.207.108.70:8080/BuildUpServices/OrdenInsumosWS" />
    </port>
  </service>
</definitions>