BuildUpCSharpClient/BuildUp/Connected Services/LineaProduccionWS/LineaProduccionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.buildup.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="LineaProduccionWS" targetNamespace="http://services.buildup.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.207.108.70:8080/BuildUpServices/LineaProduccionWS?xsd=1" namespace="http://services.buildup.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarLineaProduccion">
    <part name="parameters" element="tns:actualizarLineaProduccion" />
  </message>
  <message name="actualizarLineaProduccionResponse">
    <part name="parameters" element="tns:actualizarLineaProduccionResponse" />
  </message>
  <message name="insertarLineaProduccion">
    <part name="parameters" element="tns:insertarLineaProduccion" />
  </message>
  <message name="insertarLineaProduccionResponse">
    <part name="parameters" element="tns:insertarLineaProduccionResponse" />
  </message>
  <message name="eliminarLineaProduccion">
    <part name="parameters" element="tns:eliminarLineaProduccion" />
  </message>
  <message name="eliminarLineaProduccionResponse">
    <part name="parameters" element="tns:eliminarLineaProduccionResponse" />
  </message>
  <message name="listarLineaProduccion">
    <part name="parameters" element="tns:listarLineaProduccion" />
  </message>
  <message name="listarLineaProduccionResponse">
    <part name="parameters" element="tns:listarLineaProduccionResponse" />
  </message>
  <portType name="LineaProduccionWS">
    <operation name="actualizarLineaProduccion">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/actualizarLineaProduccionRequest" message="tns:actualizarLineaProduccion" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/actualizarLineaProduccionResponse" message="tns:actualizarLineaProduccionResponse" />
    </operation>
    <operation name="insertarLineaProduccion">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/insertarLineaProduccionRequest" message="tns:insertarLineaProduccion" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/insertarLineaProduccionResponse" message="tns:insertarLineaProduccionResponse" />
    </operation>
    <operation name="eliminarLineaProduccion">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/eliminarLineaProduccionRequest" message="tns:eliminarLineaProduccion" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/eliminarLineaProduccionResponse" message="tns:eliminarLineaProduccionResponse" />
    </operation>
    <operation name="listarLineaProduccion">
      <input wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/listarLineaProduccionRequest" message="tns:listarLineaProduccion" />
      <output wsam:Action="http://services.buildup.pucp.edu.pe/LineaProduccionWS/listarLineaProduccionResponse" message="tns:listarLineaProduccionResponse" />
    </operation>
  </portType>
  <binding name="LineaProduccionWSPortBinding" type="tns:LineaProduccionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarLineaProduccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLineaProduccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaProduccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLineaProduccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaProduccionWS">
    <port name="LineaProduccionWSPort" binding="tns:LineaProduccionWSPortBinding">
      <soap:address location="http://52.207.108.70:8080/BuildUpServices/LineaProduccionWS" />
    </port>
  </service>
</definitions>