BuildUpCSharpClient/BuildUp/Connected Services/LineaProduccionWS/LineaProduccionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.buildup.pucp.edu.pe/" targetNamespace="http://services.buildup.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarLineaProduccion" type="tns:actualizarLineaProduccion" />
  <xs:element name="actualizarLineaProduccionResponse" type="tns:actualizarLineaProduccionResponse" />
  <xs:element name="eliminarLineaProduccion" type="tns:eliminarLineaProduccion" />
  <xs:element name="eliminarLineaProduccionResponse" type="tns:eliminarLineaProduccionResponse" />
  <xs:element name="insertarLineaProduccion" type="tns:insertarLineaProduccion" />
  <xs:element name="insertarLineaProduccionResponse" type="tns:insertarLineaProduccionResponse" />
  <xs:element name="listarPorNombreLineaProduccion" type="tns:listarPorNombreLineaProduccion" />
  <xs:element name="listarPorNombreLineaProduccionResponse" type="tns:listarPorNombreLineaProduccionResponse" />
  <xs:element name="modificarLineaProduccion" type="tns:modificarLineaProduccion" />
  <xs:element name="modificarLineaProduccionResponse" type="tns:modificarLineaProduccionResponse" />
  <xs:complexType name="listarPorNombreLineaProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreLineaProduccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaProduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaProduccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idLineaProduccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operarios" nillable="true" type="tns:operario" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
      <xs:element minOccurs="0" name="tipoLadrillo" type="tns:tipoLadrillo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFinContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoLadrillo">
    <xs:sequence>
      <xs:element name="altura" type="xs:double" />
      <xs:element name="ancho" type="xs:double" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
      <xs:element name="largo" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaProduccion">
    <xs:sequence>
      <xs:element name="idLineaProduccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaProduccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLineaProduccion">
    <xs:sequence>
      <xs:element name="idlineaProduccion" type="xs:int" />
      <xs:element name="idTipoLadrillo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLineaProduccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLineaProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLineaProduccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaProduccion" type="tns:lineaProduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaProduccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>